<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center"> Create Post </h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>Post</label>
            <textarea type="text" class="form-control" id="post" [(ngModel)]="post.post"
                      name="post"></textarea>
          </div>


          <br />
          <button  class="btn btn-success" type="submit" >Submit</button>
          <button routerLink="/home/acceuil" class="btn btn-danger"> Cancel </button>
          <input  type="file" class="file-upload" onchange="upload($event.target.file)">


        </form>

      </div>
    </div>
  </div>
</div>
