<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
        <h3 class="text-center"> Update Event </h3>
        <hr />
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
  
                 <p  style="width: 20rem;">Send Mail for Participant of Event Number : {{ event.id}} </p>

            <br />
            <button class="btn btn-success" type="submit">Submit</button>
            <button routerLink="/home/events"   style="margin-left: 400px" class="btn btn-warning" type="Cancel">Cancel</button>
  
          </form>
        </div>
      </div>
    </div>
  </div>
  