<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
        <h3 class="text-center"> Update Offer </h3>
        <hr />
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
  
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" id="Name" [(ngModel)]="offer.name"
                     name="name">
            </div>
  
            <div class="form-group">
              <label>Type</label>
              <input type="text" class="form-control" id="type" [(ngModel)]="offer.type"
                     name="type">
            </div>
  
            <div class="form-group">
              <label>Status</label>
              <input type="text" class="form-control" id="stats" [(ngModel)]="offer.status"
                     name="status">
            </div>
  
            <div class="form-group">
              <label>Location</label>
              <input type="text" class="form-control" id="location" [(ngModel)]="offer.location"
                     name="location">
            </div>
  
            <div class="form-group">
              <label>Salary</label>
              <input type="number" class="form-control" id="salary" [(ngModel)]="offer.salary"
                     name="salary">
            </div>
  
            <div class="form-group">
              <label>Due on</label>
              <input type="datetime-local" class="form-control" id="date_interview" [(ngModel)]="offer.date_Interview"
                     name="date_Interview">
            </div>
  
            <br />
            <button class="btn btn-success" type="submit">Submit</button>
  
          </form>
        </div>
      </div>
    </div>
  </div>
  