<div class="app-menu navbar-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <!-- Dark Logo-->
    <a href="index.html" class="logo logo-dark">
      <span class="logo-sm">
        <img src="assets/images/logo.png" alt="" height="120" />
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo.png" alt="" height="120" />
      </span>
    </a>
    <!-- Light Logo-->
    <a href="index.html" class="logo logo-light">
      <span class="logo-sm">
        <img src="assets/images/logo.png" alt="" height="100" />
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo.png" alt="" height="100" />
      </span>
    </a>
    <button
      type="button"
      class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
      id="vertical-hover"
    >
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar">
    <div class="container-fluid">
      <div id="two-column-menu"></div>
      <ul class="navbar-nav" id="navbar-nav">
        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
        <li class="nav-item">
          <a
            class="nav-link menu-link"
            routerLink="/home/events"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="sidebarDashboards"
          >
            <i class="ri-dashboard-2-line"></i>
            <span data-key="t-dashboards">Events </span>
          </a>



          <a
            class="nav-link menu-link"
            routerLink="/home/Offer"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="sidebarDashboards"
          >
            <i class="ri-file-list-3-line"></i>
            <span class="menu-dropdown collapse show" data-key="t-landing">Opportunities</span>
          </a>



          <div class="collapse menu-dropdown" id="sidebarDashboards">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a
                  href="dashboard-analytics.html"
                  class="nav-link"
                  data-key="t-analytics"
                >
                  Analytics
                </a>
              </li>
              <li class="nav-item">
                <a href="dashboard-crm.html" class="nav-link" data-key="t-crm">
                  CRM
                </a>
              </li>
              <li class="nav-item">
                <a href="index.html" class="nav-link" data-key="t-ecommerce">
                  Ecommerce
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="dashboard-crypto.html"
                  class="nav-link"
                  data-key="t-crypto"
                >
                  Crypto
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="dashboard-projects.html"
                  class="nav-link"
                  data-key="t-projects"
                >
                  Projects
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link menu-link"
            routerLink="/home/acceuil"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="sidebarDashboards"
          >
            <i class="ri-dashboard-2-line"></i>
            <span data-key="t-dashboards">Acceuil </span>
          </a>
          <div class="collapse menu-dropdown" id="acceuilid">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a
                  href="dashboard-analytics.html"
                  class="nav-link"
                  data-key="t-analytics"
                >
                  Analytics
                </a>
              </li>
              <li class="nav-item">
                <a href="dashboard-crm.html" class="nav-link" data-key="t-crm">
                  CRM
                </a>
              </li>
              <li class="nav-item">
                <a href="index.html" class="nav-link" data-key="t-ecommerce">
                  Ecommerce
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="dashboard-crypto.html"
                  class="nav-link"
                  data-key="t-crypto"
                >
                  Crypto
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="dashboard-projects.html"
                  class="nav-link"
                  data-key="t-projects"
                >
                  Projects
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link menu-link"
            routerLink="/home/user"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="sidebarDashboards"
          >
            <i class="ri-user-2-fill"></i>
            <span data-key="t-dashboards">User </span>
          </a>
        </li>


        <li class="nav-item">
          <a
            class="nav-link menu-link"
            routerLink="/home/logout"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="sidebarDashboards"
          >
            <i class="ri-logout-box-line"></i>
            <span data-key="t-dashboards">Logout </span>
          </a>
        </li>


      </ul></div></div></div>
