<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center"> Update Candidacy </h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" id="id" [(ngModel)]="c.id"
                   name="id" disabled>
          </div>

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="Name" [(ngModel)]="c.candidName"
                   name="name">
          </div>

          <div class="form-group">
            <label>State</label>
            <input type="text" class="form-control" id="type" [(ngModel)]="c.state"
                   name="type">
          </div>

          <div class="form-group">
            <label>Resumè</label>
            <input type="text" class="form-control" id="stats" [(ngModel)]="c.cv"
                   name="status">
          </div>

          <br />
          <button class="btn btn-success" type="submit">Submit</button>
          <button routerLink="/home/candidacy" class = "btn btn-primary" style="margin-left: 333px">Back</button>
        </form>
      </div>
    </div>
  </div>
</div>
