<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center">Create Cagnotte</h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>iduser</label>
            <input
              type="number"
              class="form-control"
              id="iduser"
              [(ngModel)]="user.iduser"
              name="iduser"
            />
          </div>
          <!-- <p>Id Stripe:<input type="text" id="body" [(ngModel)] = "body" ></p> -->
          <div class="form-group">
            <label type="text" id="body" [(ngModel)]="body"> {{ body }} </label>
          </div>

          <div class="form-group">
          <p> Copier le id : {{ body }} </p>
          </div>


          <br />
          <button class="btn btn-success" type="submit">Submit</button>
          <button
            routerLink="/home/cagnottes"
            style="margin-left: 420px"
            class="btn btn-warning"
            type="Cancel"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
