<h3> View Event Details</h3>
<div>
  <div>
    <label> <b> dateDebut: </b></label> {{event.dateDebut}}
  </div>
  <div>
    <label> <b> dateFin: </b></label> {{event.dateFin}}
  </div>
  <div>
    <label> <b> type: </b></label> {{event.type}}
  </div>
  <div>
    <label> <b> description: </b></label> {{event.description}}
  </div>
  <div>
    <label> <b> title: </b></label> {{event.title}}
  </div>
  <button routerLink="/home/events"   style="margin-left: 400px" class="btn btn-warning" type="Cancel">Cancel</button>

</div>
